{% extends "mainWebsite/layout.html" %} {% load static %}
{% block body %}



<div class="container">
  <div class="wrapper">
      <div class="typing-demo">
        Welcome
      </div>
  </div>
  {% if message %}
       <div>{{ message }}</div>
   {% endif %}


  <form class="form"  action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <input autofocus class="form-control" autofocus type="text" name="username" placeholder="Username">
    <input class="form-control" type="email" name="email" placeholder="Email Address">
    <input class="form-control" type="password" name="password" placeholder="Password">
    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
    <button type="submit"  value="Register">Register</button>
  </form>
</div>

{% endblock %}
<!--id="login-button"-->
