{% extends "mainWebsite/layout.html" %} {% load static %}
{% block body %}
<br>
<div class="wrapper">
    <div class="typing-demo">
      Publish Your Script
    </div>
</div>
<br>

<form class="sellform" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" value="Title" placeholder="Title" required="required">
  <div class="file" width="100px">
    <label for="file-input">Script</label>
      <input type="file" id="file-input" accept=".py,.sh,.go" required="required">
  </div>
  <br>
  <div class="file" >
    <label for="file-input">Thumnail</label>
      <input type="file" id="file-input"  accept="image/*" required="required">
  </div>
  <br>
  <label for="number">Set price</label>
  <input type="number" min="0" max="10000" step="0.01" value="Price" placeholder="Price" required="required">
  <label for="script language">Language </label>
  <div class="dropd">
    <select class="round" required="required">
      <option value="" disabled selected>Language</option>
      <option>Python</option>
      <option>Golang</option>
      <option>Bash</option>
    </select>

  </div>
  <br>
<input type="text" value="Description" placeholder="Description" required="required">

  <br>
  <input type="submit" class="submit" />
</form>


{% endblock %}
