{% extends "mainWebsite/layout.html" %} {% load static %}
{% block body %}
<br>
<div class="wrapper">
    <div class="typing-demo">
      Publish Your Script
    </div>
</div>
<br>

<form class="sellform" action="{% url 'sell' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input autofocus type="text" value="title" placeholder="Title" required="required" name="title" value="title">
  <div class="file" width="100px">
    <label for="file-input" >Script</label>
      <input type="file" id="file-input" accept=".py,.sh,.go" required="required" name = "upload">
  </div>
  <br>
  <div class="file" >
    <label for="file-input" name="image">Thumnail</label>
      <input type="file" id="file-input"  accept="image/*" required="required" name="image" value="image">
  </div>
  <br>
  <label for="number">Set price</label>
  <input type="number" min="0" max="10000" step="0.01" value="price" placeholder="Price" required="required" name="price">
  <label for="script language">Language </label>
  <div class="dropd">
    <select class="round" required="required" name="language" value="language">
      <option  disabled selected>Language</option>
      <option>Python</option>
      <option>Golang</option>
      <option>Bash</option>
    </select>

  </div>
  <br>
<input type="textarea" value="description" placeholder="Description" required="required" name="description">

  <br>
  {{ form.as_p }}
  <input type="submit" class="submit" />
</form>


{% endblock %}
